// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$corFooter: #2C3E50;

$corbackground: #FFF9F9;

$corPrincipal1: #6E58FF;
$corSecundaria: #ff7bb5;
